<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">

<div class="container" id="main-container">
  <div class="row">
    <div *ngFor="let wine of wines" class="col-md-6 col-xl-3">
       <div class="card m-b-30">
          <div class="card-body row">
             <div class="col-6">
                <a href=""><img src="{{wine?.imageURL}}" alt="" class="img-fluid rounded-circle w-60"></a>
             </div>
             <div class="col-6 card-title align-self-center mb-0">
                <h5>{{wine?.name}}</h5>
                <p class="m-0">{{wine?.strain}}</p>
             </div>
          </div>
          <ul class="list-group list-group-flush">
             <li class="list-group-item"><i class="uil uil-map float-right"></i>Country: {{wine?.country}}</li>
             <li class="list-group-item"><i class="uil uil-calendar-alt float-right"></i>Vinatge: {{wine?.vintage}}</li>
          </ul>
          <!-- <div class="card-body">
             <div class="float-right btn-group btn-group-sm">
                <a (click)="onOpenModal(wine, 'edit')" class="btn btn-primary tooltips" data-placement="top" data-original-title="Edit"><i class="fa fa-pencil"></i> </a>
                <a (click)="onOpenModal(wine, 'delete')" class="btn btn-secondary tooltips" data-placement="top" data-original-title="Delete"><i class="fa fa-times"></i></a>
             </div>
          </div> -->
       </div>
    </div>
  </div>