@import 'https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css';
@import 'https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css';


/* MAIN */
body
{
    background: #202020;
}


/* NAVBAR */
.navbar
{
    margin-bottom: 100px;
}

.nav-img
{
    width: 2rem;
    margin-right: 2rem;
}

.form-inline
{
    margin-left: 2rem;
}

.nav-link
{
    margin-right: 2rem;
}

.nav-link:hover
{
    cursor: pointer;
    color: #B0B0B0!important;
    text-decoration: none;
}

.form-control
{
    background-color: #B0B0B0;
}
.form-control:focus
{
    border-color: #cccccc;
    -webkit-box-shadow: none;
    box-shadow: none;
    background-color: #FFF;
}


/* CONTAINER */
.card 
{
    border: none;
    -webkit-box-shadow: 0 1px 2px 0 rgba(0,0,0,.05);
    box-shadow: 0 1px 2px 0 rgba(0,0,0,.05);
    color: #FFF;
    background-color: #383838;
    margin-bottom: 30px;
}

.w-60
{
    width: 100px;
}

h1, h2, h3, h4, h5, h6 
{
    margin: 0 0 10px;
    font-weight: 600;
}

.social-links li a 
{
    -webkit-border-radius: 50%;
    background-color: #686868;
    border-radius: 50%;
    color: #fff;
    display: inline-block;
    height: 30px;
    line-height: 30px;
    text-align: center;
    width: 30px;
    font-size: 12px;
}

a 
{
    color: #fff;
}

.list-group-item
{
    background-color: #383838;
}

/* MODAL */
.modal-content
{
    background-color: #202020;
}

.modal-content
{
    color: #FFF;
}

.modal-header
{
    justify-content: center;
}

.modal-footer
{
    margin-top: 2.5rem;
}

/* MEDIA QUERIES */
@media screen and (max-width: 1199.5px)
{
    .form-inline,
    .form-control,
    .nav-item
    {
        margin: auto;
    }

    .form-control
    {
        margin-top: 1rem;
    }
}