@import 'https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css';
@import 'https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css';


/* MAIN */
body
{
    background: #202020;
}


/* NAVBAR */
.navbar
{
    margin-bottom: 100px;
}

.nav-img
{
    width: 2rem;
    margin-right: 2rem;
}

.form-inline
{
    margin-left: 2rem;
}


/* CONTAINER */
.card 
{
    border: none;
    -webkit-box-shadow: 0 1px 2px 0 rgba(0,0,0,.05);
    box-shadow: 0 1px 2px 0 rgba(0,0,0,.05);
    color: #FFF;
    background-color: #383838;
    margin-bottom: 30px;
}

.w-60
{
    width: 100px;
}

h1, h2, h3, h4, h5, h6 
{
    margin: 0 0 10px;
    font-weight: 600;
}

.social-links li a 
{
    -webkit-border-radius: 50%;
    background-color: #686868;
    border-radius: 50%;
    color: #fff;
    display: inline-block;
    height: 30px;
    line-height: 30px;
    text-align: center;
    width: 30px;
    font-size: 12px;
}

a 
{
    color: #fff;
    text-decoration: none;
}

a:hover
{
    color: #B0B0B0;
    text-decoration: none;
}

.list-group-item
{
    background-color: #383838;
}

@media screen and (max-width: 1200px)
{
    .form-inline
    {
        margin: auto;
    }

    .navbar
    {
        justify-content: center;
    }
}